
{% extends 'base.html.twig' %}


{% block meta %}
    <meta http-equiv="refresh" content="5;URL='{{path('turn_create')}}'" />  

{% endblock %}

{% block stylesheets %}

    <style>
        .row{
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .rgp-title{
            margin-top: 70px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="{{ asset('bundles/app/images/rgp_logo.png') }}" alt="">
            </div>
            <div class="col rgp-title">
                <h1 class="display-4">Gracias!!</h1>
                {% if print_result.status %}
                    <div class="alert alert-success" role='alert'>
                        <p class="lead">Retire el ticket y verifique su turno en pantalla.</p>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role='alert'>
                        <p class="lead">
                            <strong>{{ print_result.mesagge }}</strong>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>



        <div class="row">
            <div class="col-md-3 offset-md-3">
                <div class="card" style="width: 500px">
                    <div class="card-body">
                        <h3 class="card-title text-center">Turno Atención</h3>
                        <h4 class="card-title text-center">{{ turn.line.type.description }}</h4>
                        <h4 class="card-subtitle mb-2 text-muted text-center">{{ turn.label }}</h4>
                        <h5 class="card-subtitle mb-2 text-muted text-center">{{ turn.date | date("d/m/Y") }} {{ turn.time | date ("H:i:s")}}</h5>
                        <p class="card-text text-center">Gracias por su visita, pronto será atendido.</p>

                    </div>
                </div> 
            </div>

        </div>
    </div>
{% endblock%}
