
{% extends 'base.html.twig' %}


{% block stylesheets %}

    <style>
        .row{
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        .lv-index-panel{
            display: block;
            width: 275px;
            height: 225px;
            margin: 10px;
            padding: 10px;
            border: #d3d3d3 1px solid;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
            background-color: #fafafa;
            color: #000 !important; 
            text-align: center;
        }

        .lv-tile-meta {
            text-align: center;
            opacity: 0.70;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        }

        .lv-tile-inner {
            width: 275px;
            height: 225px;
            transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }

        .lv-plus {
            font-size: 140px;
            line-height: 140px;
            padding: 20px 0px 0px 0px;
            position: relative;
            top: -6px;
            color: #00000;
        }

        .lv-plus-subtitle {
            position: relative;
            top: -1px;
            color: #00000;
            text-align: center;
            
            font-weight: 800;
        }

        .lv-meta-subtitle {
            font-size: 25px;
        }
        
        
        {% for type in types %}
        #lv-{{ type.suffix}}:hover {
            background-color: {{ type.panelColor}};
            opacity: 1.0;
            text-decoration: none;
        }
        
        {% endfor %}



    </style>
{% endblock %}


{% block body %}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="{{ asset('bundles/app/images/rgp_logo.png') }}" alt="">
            </div>
            <div class="col">
                <h1 class="display-4">Bienvenidos</h1>
                <p class="lead">Por favor elija el tipo de atención requerida para iniciar. Gracias</p>
            </div>
        </div>


        {% for type in types%}
            {% if loop.index0 is divisibleby(3) %}
                <div class="row">
                {% endif %}           
                <div class="col-md-4">
                    <a id="lv-{{type.suffix}}" href="{{ path('turn_new', {'type': type.id } )}}" class="lv-index-panel lv-tile-meta isotope-item" 
                       style="left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px); width: 240px; height: 180px;">
                        <div class="lv-tile-inner" style="width: 265px; height: 224px; transform: scale(0.75);">
                            <div style="margin-bottom: 2px;"></div>
                            <div class="lv-plus lv-meta-symbol">{{type.suffix}}</div>
                            <span class="lv-plus-subtitle lv-meta-subtitle text-bold">{{type.description}}</span>
                        </div>
                    </a>
                </div>
                {% if loop.index is divisibleby(3) or loop.last %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock%}


