{% extends 'base.html.twig' %}


{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="5"/>
{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        body{
            background: #fff url({{ asset('bundles/app/images/bg-site.png') }});

        }
        .row{
            background: #fff;
            margin-bottom: 20px;
        }
        .img-container{
            position:absolute;
        }
        .img-responsive{
            margin: auto;
            display: block;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <img src="{{ asset('bundles/app/images/rgp_logo_offset.png')}}" class="img-responsive">
            </div>
        </div>
        
         <div class="row">
            {% for turn in turns %}

                {% if turn.state.id == 5 %}
                    <div class="alert alert-success">
                        <h1> <strong>Llamando {{ turn.label }}</strong> en posición {{turn.position.name}} </a>.
                    </div>
                {% endif %}

            {% endfor %}    
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Turno</th>
                        <th>Posicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turn in turns %}

                        {% if turn.state.id == 2 %}
                            <tr class="table-info">
                            {% else %}
                            <tr>
                            {% endif %}
                            <td>{{ turn.label}}</td>                        
                            <td>{% if turn.position is null %} - {% else %} {{turn.position.name}} {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock%}