{% extends 'base.html.twig' %}


{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="5"/>
{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        body{
            background: #fff url({{ asset('bundles/app/images/bg-site.png') }});

        }
        .row{
            background: #fff;
            margin-bottom: 20px;
        }
        .img-container{
            position:absolute;
        }
        .img-responsive{
            margin: auto;
            display: block;
        }

        .turn-label{
            font-size: 7rem;
        }
        .box-label{
            font-size: 4rem;
            font-weight: bolder;
        }
        .box{
            height: 300px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <img src="{{ asset('bundles/app/images/rgp_logo_offset.png')}}" class="img-responsive">                
            </div>
        </div>



        {% for position in positions%}
            {% if loop.index0 is divisibleby(4) %}
                <div class="row">
                {% endif %} 

                {% if position.isEnabled %}
                    <div class="col-3">
                        <div class="box text-center border" data-state="{% if position.activeTurn %}{{ position.activeTurn.state.description }}{% endif %}">
                            <h1 class="turn-label">{% if position.activeTurn %}{{ position.activeTurn.label }} {% else %} - {% endif %} </h1>
                            <h2 class="box-label">{{ position.name}}</h2>
                            <h3>{% if position.activeTurn %} {{ position.activeTurn.state.description|capitalize }} {% else %} - {% endif %}</h3>
                        </div>
                    </div>
                {% endif %}
                {% if loop.index is divisibleby(4) or loop.last %}
                </div>
            {% endif %}
        {% endfor %}  

        <div class="row">

        </div>

    </div>


{% endblock%}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.box').each(function () {
                if ($(this).data('state') == 'calling') {
                    $.playSound('{{ asset('bundles/app/sounds/call.mp3')}}');
                    $(this).animate({
                       backgroundColor: '#baffc9',                       
                    });
                    $(this).effect("bounce", "slow");
                }else if($(this).data('state') == 'assigned'){
                    $(this).animate({
                       backgroundColor: '#ffb3ba',                       
                    });
                }
            });
        });
    </script>
{% endblock%}