
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        body{
            background: #fff url({{ asset('bundles/app/images/bg-site.png') }});

        }
        .row{
            background: #fff;
        }
        .dashboard-header{
            margin-bottom: 50px;
            margin-top: 25px;
            padding: 20px;
            border: solid 2px #b3bac2;
            border-radius: 10px         }
        </style>

    {% endblock%}

    {% block body %}
        <div class="container container-fluid">
        <div class="d-flex justify-content-between row dashboard-header">
            <div>
                <h1 class="display-4">Gestor de Turnos</h1>
            </div>
            <div>
                <div><span>{{ app.user.lastname|upper}},{{ app.user.name}}</span></div>
                <div>
                    {% if session.agent.state.description == 'idle' %}
                        <span class="badge badge-success">{{ session.agent.state.description|upper|trans}}</span>
                    {% else %}
                        <span class="badge badge-danger">{{ session.agent.state.description|upper|trans}}</span>
                    {% endif %}
                </div>
                <div><a class="btn btn-dark btn-sm" href="{{ path('fos_user_security_logout')}}">
                        <i class="fas fa-sign-out-alt"></i>
                        Salir
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>


        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Turno</th>
                        <th>Agente</th>
                        <th>Posicion</th>
                        <th>Estado</th>
                        <th>Acción</th>

                    </tr>
                </thead>
                <tbody>
                    {% for turn in turns %}
                        {% if (turn.agent and turn.agent != app.user) %}
                            <tr class="table-danger">
                            {% elseif turn.agent != app.user  %}
                            <tr class="table-success">
                            {% else %}
                            <tr>
                            {% endif %}    
                            <td>{{ turn.date | date('d-m-Y' )}}</td>
                            <td>{{ turn.time | date('H:i') }}</td>
                            <td>{{ turn.label}}</td>
                            <td>{% if turn.agent is null%} - {% else %} {{turn.agent.username}} {% endif %} </td>
                            <td>{% if turn.position is null %} - {% else %} {{turn.position.name}} {% endif %}</td>
                            <td>{{ turn.state.description | upper | trans }}</td>
                            <td class="text-center">

                                {% if (turn.agent == app.user or turn.agent == false) %}

                                    {% if turn.state.description == 'created' %}
                                        <a class="btn btn-dark btn-sm" href="{{ path('turn_manage_call',{'turn': turn.id, 'agent': app.user.id})}}" data-toggle="tooltip" data-placement="top" title="Llamar">
                                            <i class="fas fa-phone-volume"></i>
                                        </a>
                                    {% endif %}
                                    {% if turn.state.description == 'calling' %}
                                        <a class="btn btn-dark btn-sm" href="{{ path('turn_manage_assign', {'turn': turn.id, 'agent': app.user.id}) }}" data-toggle="tooltip" data-placement="top" title="Tomar">
                                            <i class="fas fa-hand-holding"></i>
                                        </a>
                                    {% endif %}

                                    {% if (turn.state.description == 'assigned' or  turn.state.description == 'calling')%}
                                        <a class="btn btn-dark btn-sm" href="{{ path('turn_manage_end', {'turn': turn.id}) }}" data-toggle="tooltip" data-placement="top" title="Finalizar">
                                            <i class="fas fa-eject"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>      
{% endblock%}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>  

{% endblock%}


